section{
    width: 100%;
    max-width: 1180px;
    text-align: left;
    margin: 30px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

header {
    text-align: left;
    margin-right: 20px;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    pragr
}

h1{
    color: rgb(14, 4, 108);
}
span {
    color:#813817
}
h2{
    color:rgb(14, 4, 108);
}
h3{
    color:rgb(15, 4, 108);;

}
h4{
    color: rgb(15, 4, 108);;
}
body{
    background-color: rgb(243, 235, 213);
    font-family:Arial;
    color: slategray;
}
li{
    color: rgb(17, 6, 24);
}
footer{
    margin-top: 50px;
    background-color: #813817;
    color: white;
}
footer p {
    text-align: center;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    #container {
        width: 95%;
        margin: auto;
        }
